go build/
*.log
*.out
*.test
bin/
.env
vendor/
coverage.*
tmp/

# VSCode
.vscode/

# JetBrains (GoLand, IntelliJ)
.idea/
*.iml

# Vim swap files
*.swp

# Mac OS files
.DS_Store

# Other editors
*.sublime-workspace
*.sublime-project
